# STA130 HW01
**Alexey Albert**\
CHAT LOGS:\
https://chatgpt.com/share/66edf8be-732c-800d-87a5-b3d8fec9c742 \
https://chatgpt.com/share/66f4d107-6454-800d-86fc-185bb25630ca


## PRE-LECTURE:

## 1.

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
villagers_df = pd.read_csv(url)
villagers_df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

## 2.

In [2]:
num_rows, num_columns = villagers_df.shape
column_names = villagers_df.columns.tolist()

num_rows, num_columns, column_names

(391,
 11,
 ['row_n',
  'id',
  'name',
  'gender',
  'species',
  'birthday',
  'personality',
  'song',
  'phrase',
  'full_id',
  'url'])

### Definitions:
**Observations:** A single entry/record/entitiy in the data set. In this case, each villager is an observation. Every row corrosponds to an observation which has specific properties defined by the columns of the dataset.

**Variables:** The characteristics/attributes associated with each observation. If each row is a different observation, each column is a variable pertaining to that observation. In this case, the variables are the name, gender, birthday, song, etc. of each villager.

## 3.

In [3]:
print("Data type of each column:")
print(villagers_df.dtypes)

print("\nDescription of the DataFrame:")
print(villagers_df.describe())

print("\nUnique counts for categorical columns:")
categorical_columns = villagers_df.select_dtypes(include=['object']).columns
print(villagers_df[categorical_columns].nunique())

Data type of each column:
row_n           int64
id             object
name           object
gender         object
species        object
birthday       object
personality    object
song           object
phrase         object
full_id        object
url            object
dtype: object

Description of the DataFrame:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

Unique counts for categorical columns:
id             390
name           391
gender           2
species         35
birthday       361
personality      8
song            92
phrase         388
full_id        391
url            391
dtype: int64

## 4.

In [4]:
villagers_df.shape

(391, 11)

In [5]:
villagers_df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

4. is n/a since the data matches up between `df.shape` and `df.describe()`

## 5.
### Definitions:
**Attribute:** A property of a stored object, which can be retrived and used like any other variable. No parenthesis.

**Method:** A function that belongs to an object, which is called upon and returns a value/variable or simply performs a set of actions. Called with parenthesis since you can pass in arguments when calling them.

## POST-LECTURE:

## 6.
**`df.describe()`:**

**count**\
The number of non-blank values for each column.

**mean**\
The mathematical mean of the column values.

**std**\
The standard deviation. The spread of the data around the mean.

**min**\
Smallest value in the column.

**25%** \
The first quartile/the value under which 25% of the data is found when sorted in increasing order.

**50%** \
AKA the median. The middle value when the data is sorted in increasing order.

**75%** \
The third quartile/the value under which 75% of the data is found when sorted in increasing order.

**max**\
The largest value in the column.

## 7.

`df.dropna()` can be used to delete columns OR rows, as well as return a new DataFrame with the specified changes, while `del df['col']` will delete a specified column. If you have an entry with missing fields/columns, you can use `dr.dropna()` and set `inplace` to `False` to return a new DataFrame with that entry deleted. `del df['col']` would modify the original DataFrame permenently and would only allow you to delete an entire column, thus affecting every other entry in the DataFrame as well.

**(1).** You have a db with account info for an app, and need to feed contact info into a 3rd party email marketing service. Some users have deleted their accounts, but you're a bad swe and don't actually delete their info so you can beg them to come back in a few months (shhh don't tell the GDPR). So you use `df.dropna()` to return a new DataFrame with everyone with the "deleted" column blank removed. That way, you're left with a list of users who 'deleted' their accounts and can email them.

**(2).** You have a db with survey responses. The last question was an optional "anything else?" but you don't really care what these people think and so you permanently delete their additional comments/complaints with `del df['col']`

**(3).** Delete completely extraneous/unneeded data columns before isolating the DataFrame into seperate ones with only the data you need/want for specific applications or function calls or wtv.

**(4).** I just removed all the missing data using the .dropna() function to drop any entries/rows that have missing/blank fields. This way I only delete the missing entries instead of entire columns; the valid entries are preserved.

In [6]:
print('BEFORE: \n', villagers_df.isna().sum())
df_cleaned = villagers_df.dropna()
print('\nAFTER: \n', df_cleaned.isna().sum())

BEFORE:
 row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

AFTER:
 row_n          0
id             0
name           0
gender         0
species        0
birthday       0
personality    0
song           0
phrase         0
full_id        0
url            0
dtype: int64

## 8.

In [12]:
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
titanic_df = pd.read_csv(url)

# Display the first 10 rows of the dataset
#titanic_df.head(10)
titanic_df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

**(1).** Comparing which class died or survived the most. As you can see, of those who died, most were in third class. As for those who survived, most of them were in first class.

In [22]:
titanic_df.groupby("survived")["class"].describe()

         count unique    top freq
survived
0          549      3  Third  372
1          342      3  First  136

**(2).** While `df.describe()` simply counts the number of non-missing values in each column considering all the rows in the DataFrame, `df.groupby("col1")["col2"].describe()` only considers `col1` and for each unique group of values in `col1`, counts the number of non-missing values in `col2`

**(3).**

&nbsp;&nbsp;&nbsp;&nbsp;**A)** Easier with ChatGPT since it gave me the right answer right away, with a specific example of code. StackOverflow also gave me the right answer, but I had to scroll through a few wrong or unspecific ones first.

&nbsp;&nbsp;&nbsp;&nbsp;**B)** ChatGPT easily figured it out right away. Without it, I could easily see throguh StackOverflow that it's not a valid URL, but then I'd need to figure out the correct one myself if I didn't know it's titanic not titanics.

&nbsp;&nbsp;&nbsp;&nbsp;**C)** Both would have easily lead me to the correct answer, but ChatGPT was faster and provided me with a specific example/fix and an explanation. StackOverflow didn't.

&nbsp;&nbsp;&nbsp;&nbsp;**D)** ChatGPT was faster, gave me a proper explanation and fix to implement, while googling didn't do much due to the generality of the error.

&nbsp;&nbsp;&nbsp;&nbsp;**E)** Google gave me a more direct/less verbose answer, but ChatGPT once again gave me a specific example with an explanation, which would probably be more helpful for a beginner.

&nbsp;&nbsp;&nbsp;&nbsp;**F)** ChatGPT was much faster, and due to the error being specific to my code/my naming scheme, it would be harder to find an answer w

&nbsp;&nbsp;&nbsp;&nbsp;**G)** ChatGPT was faster, and more specific with examples. Google wasn't.

**(9).** Yes.

CHAT LOGS: (same as at top of notebook)\
https://chatgpt.com/share/66edf8be-732c-800d-87a5-b3d8fec9c742 \
https://chatgpt.com/share/66f4d107-6454-800d-86fc-185bb25630ca